@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0b0c0d;
  color: #fff;
}

section{
  padding: 5rem 0;
}

.centered{
  text-align: center;
}

input{
  color: #fff;
}

a{
  text-decoration: none !important;
  color: #fff !important;
}

a:hover{
  color: #fff;
}